<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>MGLSI Server</title>
    <link rel="shortcut icon" type="image/png" href="/.assets/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Merienda|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/.assets/style.min.css">
</head>
<body>
<nav>
    <img src="/.assets/logo.jpg" alt="logo">

    <div class="brand">
        <h1><span>GLSI</span>Server</h1>
        <em>D&eacute;ployez en un clic</em>
    </div>
</nav>
<div id="wrapper">
    <h1 class="title">Contenu du r&eacute;pertoire {{ uri }}</h1>

    {% if(uri != "/") %}
        <a href="{{ parentUri }}">
            <button class="back-button"><img src="/.assets/back.png" alt="back"> Revenir plus haut</button>
        </a>
    {% endif %}

    <table>
        <tbody>
        {% for item in folderContents %}
            <tr>
                <td>
                    {% if (item.category == "FILE") %}
                        {% set ext = item.extension %}

                        {% if(ext == "json") %}
                            <img src="/.assets/json_logo.png" alt="logo">

                        {% elseif (ext == "css") %}
                            <img src="/.assets/css_logo.png" alt="logo">

                        {% elseif (ext == "py") %}
                            <img src="/.assets/python_logo.png" alt="logo">

                        {% elseif (ext == "pdf") %}
                            <img src="/.assets/pdf_logo.png" alt="logo">

                        {% elseif (ext == "png" or ext == "jpeg" or ext == "jpg") %}
                            <img src="/.assets/image_logo.png" alt="logo">

                        {% else %}
                            <img src="/.assets/file.png" alt="logo">
                        {% endif %}
                    {% else %}
                        <img src="/.assets/folder.png" alt="folder">
                    {% endif %}
                </td>
                <td><a href="{{ item.name }}">{{ item.name }}</a></td>
                <td> {{ item.lastModifiedDate }} </td>
                <td> {{ item.size }} kb</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
